{% extends "base.html" %}
{% block content %}
<header class="masthead banner bg-dark py-5">
    <div class="container px-4 px-lg my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to <span class="border border-3 rounded-circle border-warning text-capitalize bg-light text-secondary px-1">m</span> <b class="text-capitalize">store</b></h1>
            <p class="lead fw-normal text-white-50 mb-0"><strong>Next day</strong>! <b class="uppercase">dvd</b> delivery at your door.</p>
        </div>
    </div>
</header>
<main class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5"><h4>Welcome to the best movie store!!</h4></div>
        </div>
    </div>
</main>
{% endblock content %}